@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Hardcoded height/width values */
  :root {
    --topbar-height: 64px;
    --editor-topbar-height: 56px;
    --editor-aside-width: 320px;
    --editor-height: calc(
      calc(100vh - calc(var(--editor-topbar-height) + var(--topbar-height))) - 6px
    );

    --font-sans: 'Geist';
  }

  :root {
    --background: theme('colors.white');
    --foreground: theme('colors.gray.700');
    --muted: theme('colors.secondary.100');
    --muted-foreground: theme('colors.foreground');
    --border: theme('colors.secondary.200');
  }

  .dark {
    --background: theme('colors.slate.950');
    --foreground: theme('colors.white');
    --muted: theme('colors.secondary.900');
    --muted-foreground: theme('colors.foreground');
    --border: theme('colors.secondary.800');
  }
}

@font-face {
  font-family: 'Geist';
  font-display: swap;
  src: url('/fonts/Geist.ttf') format('truetype');
}

html {
  color: var(--foreground);
  stroke: var(--foreground);
}
