@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Hardcoded height/width values */
  :root {
    --topbar-height: 64px;
    --editor-topbar-height: 56px;
    --editor-aside-width: 320px;
    --min-editor-height: calc(
      calc(100vh - calc(var(--editor-topbar-height) + var(--topbar-height))) - 2px
    );
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 20%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;
    --primary: 249 72% 64%;
    --primary-foreground: 0 0% 100%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --info: 214 77% 56%;
    --info-foreground: 60 9.1% 97.8%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 0 0% 20%;
    --radius: 1rem;

    --font-sans: 'Geist';
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 249 72% 64%;
    --primary-foreground: 0 0% 100%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --info: 217 60% 33%;
    --info-foreground: 60 9.1% 97.8%;
    --destructive: 0 75.8% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 240 3.7% 15.9%;
    --input: 12 6.5% 15.1%;
    --ring: 35.5 91.7% 32.9%;
  }
}

@font-face {
  font-family: 'Geist';
  font-display: swap;
  src: url('/fonts/Geist.ttf') format('truetype');
}

html {
  color: hsl(var(--foreground));
  stroke: hsl(var(--foreground));
}
